.kooodos-list {
  min-width: 100%;
  min-height: 350px;
  overflow-x: auto;
  display: flex
}

.kooodos-list::-webkit-scrollbar {
  display: none;
}


.inspirations {
  min-height: 0!important;
  text-align: left;
}

.card-inspiration {
  max-width: 100%!important;
  background-color: #EEE!important;
  color: #555!important;
  margin: 5px 5px 5px 1px!important;
  vertical-align: middle;
  border-radius: 5px;
  padding: 5px 10px;
  border: 1px #DDD solid;
  min-width: 80%;
  font-size: 90%;
  min-height: 60px;
}

.card-inspiration-content {
  display: inline-block;
  vertical-align: middle;
}

textarea {
  font-size: 92%!important;
  color: #666!important;
  margin-top: 5px!important;
}

.search-inspiration input {
  background-color: #FEFEFE!important;
}

.email_list {
  display: block;
  width: 100%;
  padding: 5px;
  text-align: right;
}

.email_tags {
  margin: 5px;
}
